.login {
    &_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form {
            padding: 1rem;
            background: transparent;
            color: white;
            width: auto;

            label {
                font-style: normal;
                font-variant-ligatures: normal;
                font-variant-caps: normal;
                font-variant-numeric: normal;
                font-variant-east-asian: normal;
                font-weight: bold;
                font-stretch: normal;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0;
                text-align: left;
            }

            input {
                background: #F7F7F7;
                border-radius: 5px;
                height: 2rem;


            }

            ::placeholder {
                color: #C7C7C7;
                opacity: 1;
                padding: .5rem;
            }
        }

        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 51px;
            color: #F7F7F7;
        }
    }

    &_submit {
        background-color: #FFCC29;
        border-radius: 20px;
        color: black;
        width: 10em;
        font-weight: bold;
    }
}

.actions {
    display: flex;
    justify-content: center;

    button:disabled {
        background-color: #d9d9d9;
        border: 3px solid #d9d9d9;
        color: white;
        pointer-events: none;
    }

}

.links {
    margin-top: .5rem;
    text-align: center;

    a {
        text-decoration: none;
        color: #FFCC29;
    }
}