.recipe {
    &_wrap {
        padding: 1rem;
        display: grid;
        grid-template-columns: 6fr 1fr;
    }

    &_body {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    &_image {
        img {
            width: 10rem;
            height: 10rem;
        }
    }

    &_actions {
        display: flex;
        justify-content: center;

        button {
            margin: .5rem;
            height: 3rem;
        }
    }

    &_add {
        margin-left: 1rem;
    }

    &_filter {
        display: flex;
    }
}