.signup {
    &_wrap {
        margin-top: 5em;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_form {
        padding: 1rem;
        background: #f5f6ea;

        label {
            font-style: normal;
            font-variant-ligatures: normal;
            font-variant-caps: normal;
            font-variant-numeric: normal;
            font-variant-east-asian: normal;
            font-weight: bold;
            font-stretch: normal;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0;
        }

        input {
            height: 4em;
        }
    }

    &_actions {
        display: flex;
        justify-content: center;
        height: 4em;

        button:disabled {
            background-color: lightgray;
            color: lightslategray;
            border-color: lightgrey;
        }

        button {
            border-radius: 4px;
            background: #d54215;
            border: 3px solid #d54215;
            color: #fff;
            width: 100%;
        }
    }

    &_links {
        margin-top: .5rem;
        text-align: center;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}