* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

icon {
    background: none;
    border: none;
    display: inline-block;
    line-height: 0;
}

::placeholder {
    color: #C7C7C7;
    opacity: 1;
    padding: .5em;
}